* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tipo de letra */

@font-face {
    font-family: 'Lato';
    src: url('./assests/ttf/Lato-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./assests/ttf/Lato-Bold.ttf');  
    font-weight: bold; 
}

@import url('https://fonts.googleapis.com/css2? family= Tangerine & display=swap');

body {
    font-family: 'Lato';
}

/* GLOBAL */

ul {
    list-style-type: none;
}

p {
    line-height: 1.5;
}

/* menú */

nav ul li a {
    text-decoration: none;
}

div h3 a {
    text-decoration: none;
}

.header {
    background-color: #2A2F4F;
    padding: 50px;
}

.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container h3 a {
    color: #E5BEEC;
}

.header__container-navbar {
    display: none;
}

.header__container-navbar li {
    margin: 0px 15px;
}

.header__container-navbar li a {
    color: #917FB3;
    font-weight: bold;
    font-size: 20px;
}

.header__container h3 a:hover {
    color: #917FB3;
}

.header__container-navbar li a:hover {
    color: #E5BEEC;
}

/* HERO */

.hero {
    background-color: #FDE2F3;
    padding: 60px 20px;
}

.hero__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 50px;
}

.hero__container-info h1 {
font-size: 40px;
margin-bottom: 20px;
}

.header__container-info p {
    margin-bottom: 40px;
    line-height: 1.5;
}

.hero__container-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}

/* tarjetas estampas */

main .contenido {
    background-color: #FDF4F5;
}

.estampas {
    padding: 50px;
}

.estampas { 
    max-width: 1200px;
    margin: 0 auto;
}

.estampas__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.card {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    width: 100%;
}

.card__header img {
    width: 324px;
    height: 324px;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
}

.card__description {
    margin-bottom: 40px;
}

.card__link {
    background-color: #FDE2F3;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 0;
    border-radius: 10px;
    width: 100%;
    display: block;
    text-align: center;
}

.card__link:hover {
    background-color: #917FB3;
}

/* tarjetas etiquetas */

main .fondo {
    background-color: #F2D1D1 ;
}

.etiquetas {
    background-color: #F2D1D1;
    padding: 50px;
}

.etiquetas { 
    max-width: 1200px;
    margin: 0 auto;
}

.etiquetas__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

/* carrusel candy bar */

main .cumple {
    background-color: #DAEAF1;
}

.carousel-inner {
    width: 500px;
    height: 700px;
    width: 100%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}

/* footer */

.pie-pagina {
    width: 33vw;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
}

img {
    width: 100%;
}


/* MEDIAS QUERIES */

@media (min-width:810px) {
    .header__container-navbar {
        display: flex;
    }

    .header__container-navbar-mobile {
        display: none;
    }

    .hero__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .estampas__cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .etiquetas__cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:810px) {
    .header__container-navbar-mobile {
        display: flex;
    }

    .estampas__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .etiquetas__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card__header img {
        width: 100%;
    }
}

@media (max-width:520px) {
    .header__container-navbar-mobile {
        display: flex;
    }

    .estampas__cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .etiquetas__cards {
        grid-template-columns: repeat(1, 1fr); 
    }

    .card__header img {
        width: 100%;
    }
}