@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url("../assests/ttf/Lato-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../assests/ttf/Lato-Bold.ttf");
  font-weight: bold;
}
body {
  font-family: "Lato";
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

.container, .statistics__container, .footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: #FDF4F5;
  color: black;
  padding: 60px 20px;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer__container h4 {
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}
.footer__container-list {
  padding: 0;
}
.footer__container-list li {
  margin: 10px 0;
}
.footer__container-list li a {
  text-decoration: none;
  color: black;
}
.footer__container-list li a:hover {
  color: #917FB3;
}
.footer_copy {
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: black;
}
.logo a:hover {
  color: #E5BEEC;
}

@media (min-width: 576px) {
  .footer__copy {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .footer__copy {
    grid-template-columns: none;
    text-align: center;
  }
}
.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 10px;
}

.header {
  background-color: #2A2F4F;
  padding: 50px;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container h3 {
  text-decoration: none;
  color: #E5BEEC;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: bold;
}
.header__container h3 a {
  color: #E5BEEC;
  text-decoration: none;
}
.header__container h3 a:hover {
  color: #917FB3;
}

.header__container-navbar {
  display: none;
}

.header__container-navbar li {
  margin: 0px 15px;
}

.header__container-navbar li a {
  color: #917FB3;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.header__container-navbar li a:hover {
  color: #E5BEEC;
}

.hero {
  background-color: #FDE2F3;
  padding: 60px 20px;
}
.hero__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 50px;
}
.hero__container-info h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.hero__container-info h1 p {
  margin-bottom: 40px;
  line-height: 1.5;
}
.hero__container-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}
.hero__container-image:hover {
  transform: rotate(5deg);
}

.statistics {
  margin-top: 0px;
  padding: 120px 20px;
  background-image: url("../assests/images/candy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.statistics__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.statistics__container-item {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
}

.dropdown {
  display: none;
}

@media (min-width: 576px) {
  .statistics__container {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .header__container-navbar {
    display: flex;
  }
  .header__container-navbar-mobile {
    display: none;
  }
  .hero__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .estampas__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .header__container-navbar-mobile {
    display: flex;
  }
  .estampas__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card__header img {
    width: 100%;
  }
  .dropdown {
    display: block;
  }
}
@media (max-width: 576px) {
  .header__container-navbar-mobile {
    display: flex;
  }
  .estampas__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card__header img {
    width: 100%;
  }
}
.estampas {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}
.estampas__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.card {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  width: 100%;
  transition: all 0.3s;
}
.card:hover {
  transform: translateY(-15px);
}
.card__header img {
  width: 324px;
  height: 324px;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
  width: 100%;
}
.card__header__description {
  margin-bottom: 40px;
}
.card__header__link {
  background-color: #FDE2F3;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 0;
  border-radius: 10px;
  width: 100%;
  display: block;
  text-align: center;
}
.card__header__link:hover {
  background-color: #917FB3;
}

.card__link {
  background-color: #FDE2F3;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 0;
  border-radius: 10px;
  width: 100%;
  display: block;
  text-align: center;
}

.card__link:hover {
  background-color: #917FB3;
}

@media (min-width: 576px) {
  .statistics__container {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .header__container-navbar {
    display: flex;
  }
  .header__container-navbar-mobile {
    display: none;
  }
  .hero__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .estampas__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .header__container-navbar-mobile {
    display: flex;
  }
  .estampas__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card__header img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .header__container-navbar-mobile {
    display: flex;
  }
  .estampas__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card__header img {
    width: 100%;
  }
}
main .fondo {
  background-color: #F2D1D1;
}

.etiquetas {
  background-color: #F2D1D1;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}
.etiquetas__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

@media (min-width: 576px) {
  .statistics__container {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .header__container-navbar {
    display: flex;
  }
  .header__container-navbar-mobile {
    display: none;
  }
  .hero__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .estampas__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .header__container-navbar-mobile {
    display: flex;
  }
  .estampas__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card__header img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .header__container-navbar-mobile {
    display: flex;
  }
  .estampas__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card__header img {
    width: 100%;
  }
}
.background {
  background-color: #E3F4F4;
}

.carrusel {
  width: 52%;
  max-width: 52%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 576px) {
  .statistics__container {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .header__container-navbar {
    display: flex;
  }
  .header__container-navbar-mobile {
    display: none;
  }
  .hero__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .estampas__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .header__container-navbar-mobile {
    display: flex;
  }
  .estampas__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card__header img {
    width: 100%;
  }
  .carrusel {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .header__container-navbar-mobile {
    display: flex;
  }
  .estampas__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .etiquetas__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card__header img {
    width: 100%;
  }
}
