main .cumple {
    background-color: #DAEAF1;
}

.carrusel {
    &-inner {
        img {
        width: 500px;
        height: 200px;
        width: 100%;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
        }
    }
}

@media (min-width: $bpSmall) {
    .statistics__container {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width:$bpMedium) {
    .header__container-navbar {
        display: flex;
    }

    .header__container-navbar-mobile {
        display: none;
    }

    .hero__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .estampas__cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .etiquetas__cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:$bpMedium) {
    .header__container-navbar-mobile {
        display: flex;
    }

    .estampas__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .etiquetas__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card__header img {
        width: 100%;
    }
}

@media (max-width:$bpSmall) {
    .header__container-navbar-mobile {
        display: flex;
    }

    .estampas__cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .etiquetas__cards {
        grid-template-columns: repeat(1, 1fr); 
    }

    .card__header img {
        width: 100%;
    }
}