.background {
    background-color: #E3F4F4;
}

.carrusel {
    width: 52%;
    max-width: 52%;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: $bpSmall) {
    .statistics__container {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width:$bpMedium) {
    .header__container-navbar {
        display: flex;
    }

    .header__container-navbar-mobile {
        display: none;
    }

    .hero__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .estampas__cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .etiquetas__cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:$bpMedium) {
    .header__container-navbar-mobile {
        display: flex;
    }

    .estampas__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .etiquetas__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card__header img {
        width: 100%;
    }

    .carrusel {
        width: 100%;
    }
}

@media (max-width:$bpSmall) {
    .header__container-navbar-mobile {
        display: flex;
    }

    .estampas__cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .etiquetas__cards {
        grid-template-columns: repeat(1, 1fr); 
    }

    .card__header img {
        width: 100%;
    }
}